<div class="toolbar-container">
  <mat-form-field appearance="outline" class="search-bar">
    <mat-icon matPrefix>search</mat-icon>
    <input
      matInput
      placeholder="Buscar producto..."
      (input)="onSearch($event)">
  </mat-form-field>

  <mat-form-field appearance="outline" class="category-select-field">
  <mat-label>Categoria</mat-label>

  <mat-select [formControl]="categoryControl" placeholder="Selecciona una categoría">
    <mat-option [value]="null">Todas las categorías</mat-option>

    @for (category of categories(); track category.id) {
      <mat-option [value]="category.id">
        {{ category.name }}
      </mat-option>
    }

    @if (isLoading()) {
      <mat-option disabled class="flex items-center justify-center">
        <mat-spinner diameter="20" class="mr-2"></mat-spinner>
        <span>Loading categories...</span>
      </mat-option>
    }

    @if (hasMorePages() && !isLoading()) {
      <mat-option
        (click)="loadCategories($event)"
        class="text-indigo-600 font-semibold bg-indigo-50 hover:bg-indigo-100 flex justify-center border-t border-indigo-100">
        <div class="w-full text-center">
          + Cargar más categorías
        </div>
      </mat-option>
    }

    @if (!hasMorePages() && categories().length > 0) {
      <mat-option disabled class="text-center text-gray-400 text-xs italic">
        Todas las categorías cargadas
      </mat-option>
    }

  </mat-select>

</mat-form-field>

</div>
