::ng-deep .dense-form-field .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

::ng-deep .dense-form-field {
  --mat-form-field-container-height: 48px;
}

::ng-deep .dense-form-field .mat-mdc-text-field-wrapper {
  padding-bottom: 0 !important;
}
